/* Use Bem philosophy
Use Variable for colors   */

:root {
  background-color: #ecf5ff;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.boxQuestion {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid green;
}

.boxQuestion p {
  font-size: 2rem;
}
/* .boxQuestion p:nth-child(odd) {
  background-color: lightgray;
} */

.boxQuestion__accordian {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.boxQuestion__accordian:hover {
  background-color: #ccc;
}

.boxQuestion__panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: left;
}

.boxQuestion__accordian p:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 2rem;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active p:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
